include LICENSE.txt
include CITATION.cff
include THIRD_PARTY_NOTICES.md
include Makefile
include data/README.md

recursive-include docs *.rst *.py Makefile make.bat
recursive-include examples *.py
recursive-include notebooks *.ipynb
recursive-include scripts *.py
recursive-include tests *.py

prune docs/_build

global-exclude *.py[cod]
global-exclude __pycache__
global-exclude .DS_Store